
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a href="#/"><img src="assets/secretSanta.png" class="logo" /></a>
    </div>
    <ul class="nav navbar-nav nav-pills">
      <li routerLinkActive="active">
        <a routerLink="/secretSantaForm">Secret Santa Project</a>
      </li>
      <li routerLinkActive="active">
        <a href="https://bitbucket.org/CodeCranium/secretsantathoughttrace/">About the project...</a>
      </li>
    </ul>
  </nav>
  
  <main>
    <router-outlet></router-outlet>
  </main>
