<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <label>Brandon Fuller</label>
      </ul>
    </nav>
    <h3 class="text-muted">Secret Santa - ThoughtTrace Interview Project</h3>
  </div>

  <!-- Participat List Tool -->
  <div class="row jumbotron" *ngIf="matchupResults == null">


    <table class="table table-striped table-bordered col-lg-12">
      <caption>
        <i>Secret Santa Participant List</i>
      </caption>
      <div class="pull-right">
          <button (click)="generateMatchupList()" class="btn btn-primary btn-lg1" type="button">Generate Matchup List</button>
        </div>
      <!-- Header -->
      <thead>
        <tr>
          <th>Participants List of Names 
            <a (click)="onEditCloseItems()" class="text-info float-right">
              <i class="mdi mdi-{{isEditItems ? 'close' : 'pencil'}} mdi-18px"></i>
            </a>
          </th>
        </tr>
      </thead>

      <tbody *ngIf="!isEditItems">
        <tr *ngFor="let field of fieldArray; let i = index">
          <td *ngIf="field?.name">
            <i (click)="deleteFieldValue(i)" class="mdi mdi-close mdi-18px"></i> {{field.name}}
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="isEditItems">
        <tr *ngFor="let field of fieldArray; let i = index">
          <td>
            <div class="input-group">
              <div class="input-group-prepend">
                <div (click)="deleteFieldValue(i)" class="input-group-text">
                  <i class="mdi mdi-close mdi-18px"></i>
                </div>
              </div>

              <div>
                <div> Primary Person in Group
                  <input [ngModel]="field.primary?.firstName" (ngModelChange)="fieldArray[i].primary.firstName = $event" class="form-control"
                    type="text" name="{{field.primary?.firstName}}" placeholder="First Name...">
                      <!-- (change)="onChangeValue($event, i, 'firstName')"> -->
                  <input [ngModel]="field.primary?.lastName" (ngModelChange)="fieldArray[i].primary.lastName = $event" class="form-control"
                    type="text" name="{{field.primary?.lastName}}" placeholder="Last Name...">
                </div>
                <!-- Apply *ngIf (to check if present value) -->
                <div> Secondary Person in Group
                  <!-- <div *ngIf="field.secondary != null"> -->
                  <input [ngModel]="field.secondary?.firstName" (ngModelChange)="fieldArray[i].secondary.firstName = $event"
                    class="form-control" type="text" name="{{field.secondary?.firstName}}" placeholder="First Name...">
                  <input [ngModel]="field.secondary?.lastName" (ngModelChange)="fieldArray[i].secondary.lastName = $event"
                    class="form-control" type="text" name="{{field.secondary?.lastName}}" placeholder="Last Name...">
                </div>

                <div>
                  <!-- <div *ngIf="field.children != null"> -->
                  <div *ngFor="let childPerson of field.children; let c = index">
                    Child
                    <input [ngModel]="childPerson?.firstName" (ngModelChange)="fieldArray[i].children[c].firstName = $event" class="form-control" type="text" name="{{childPerson?.firstName}}"
                      placeholder="First Name...">
                    <input [ngModel]="childPerson?.lastName" (ngModelChange)="fieldArray[i].children[c].lastName = $event" class="form-control" type="text" name="{{childPerson?.lastName}}"
                      placeholder="Last Name...">
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-secondary btn-lg1" type="button" (click)="addFieldValue()" style="margin-right:10px">Add
              Another Group...</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="float-right">
      <button (click)="generateMatchupList()" class="btn btn-primary btn-lg1" type="button">Generate Matchup List</button>
    </div>
  </div>
</div>


<!-- Results Section of the SPA page -->

<div *ngIf="matchupResults != null">
  <div>
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#">Participants<span class="badge">{{resultCount}}</span></a></li>
    </ul>
    <!-- <label>RESULTS</label> -->
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Match Results</th>
            <th>Match With</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resultItem of matchupResults">
            <td>{{resultItem.matchPerson1?.firstName}} {{resultItem.matchPerson1?.lastName}}</td>
            <td *ngIf="resultItem.matchPerson2 != null;else nomatch">{{resultItem.matchPerson2?.firstName}} {{resultItem.matchPerson2?.lastName}}</td>
            <ng-template #nomatch><i>Person is the result of an odd number of participants - No Match up... </i></ng-template>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>